main{
  min-height: 80vh;
}
.carousel img{
  height: 300px;
  /* padding: 30px; */
  margin-left: 380px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50%;
}
.carousel a{
  margin: 0 auto;
}
.carousel-caption h2{
  color: #fff;
}
.carousel-caption{
  position: absolute;
  top: 0;
}